*.class

# Package Files #
#!pumperWeb/war/WEB-INF/lib/
#!pumperWeb/war/WEB-INF/lib/*
*.jar
*.war
*.ear
pumperWeb/war/sample.log
pumperWeb/war/WEB-INF/appengine-generated/local_db.bin
pumperWeb/war/WEB-INF/appengine-generated/
